%h1 Skeletons Directory

Below is a list of the available skeletons and their dependencies.

%table.skeletons-directory
  %tr
    %td(colspan=2)
    - @skeletons.each do |skeleton|
      %td.name
        %a.facebox(href="#instructions-#{skeleton[:name]}")= skeleton[:name]
        %div(id="instructions-#{skeleton[:name]}" class="instructions")
          %p Execute the following code to add this skeleton to your list.
          %pre
            %code monk add #{skeleton[:name]} #{skeleton[:repo]}

          %p Run this command to create a new project
          %pre
            %code monk init myapp --skeleton=#{skeleton[:name]}
  - @all.each do |dep|
    %tr
      %td.name
        = dep[0]
      %td
        = dep[1]

      - @skeletons.each do |skeleton|
        %td.dependency
          - if skeleton[:dependencies].include?(dep)
            ✔

%h2
  Next:
  %a(href="/faq") FAQ
