%h1 Skeletons Directory

Below is a list of the available skeletons and their dependencies.

%table.skeletons-directory
  %tr
    %td(colspan=2)
    - @skeletons.keys.sort.each do |name|
      %td.name
        %a.facebox(href="#instructions-#{name}")= name
        %div(id="instructions-#{name}" class="instructions")
          %p Execute the following code to add this skeleton to your list.
          %pre
            %code monk add #{name} #{@skeletons[name][:repo]}

          %p Run this command to create a new project
          %pre
            %code monk init --skeleton=#{name} myapp
  - @all.each do |dep|
    %tr
      %td.name
        = dep[0]
      %td
        = dep[1]

      - @skeletons.keys.sort.each do |name|
        %td.dependency
          - if @skeletons[name][:dependencies].include?(dep)
            ✔

%h2
  Next:
  %a(href="/faq") FAQ
